Source: boost-url
Version: 2020-05-21
Homepage: https://github.com/CPPAlliance/url
Description: Boost.URL is a portable C++ URL library

Feature: boost
Build-Depends: boost-assert, boost-config, boost-container, boost-core, boost-exception, boost-system, boost-utility
Description: Build boost::json as a boost library.
